<div class="mt-10 overflow-x-auto px-0">
  <table class="w-full min-w-max table-auto text-left">
    <thead>
      <tr class="uppercase">
        <!--  <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
          <p
            class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70"
          >No. Orden
          </p>
        </th> -->
        <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
          <p
            class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70"
          >
            Cliente
          </p>
        </th>
        <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
          <p
            class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70"
          >
            Orden
          </p>
        </th>
        <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
          <p
            class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70"
          >
            Fecha Creacion
          </p>
        </th>
        <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
          <p
            class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70"
          >
            Precio
          </p>
        </th>
        <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
          <p
            class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70"
          >
            Status
          </p>
        </th>
        <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
          <p
            class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70"
          ></p>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngIf="loading">
        <td colspan="7" class="text-center h-60">Cargando...</td>
      </tr>
      <tr *ngIf="ordersData?.data?.length === 0">
        <td colspan="7" class="text-center h-60">NO HAY REGISTROS</td>
      </tr>
      <tr *ngFor="let order of ordersData?.data">
        <!-- <th
          class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4 text-left flex items-center"
        >
          {{ order.id }}
        </th> -->
        <td
          class="border-t-0 font-bold align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4"
        >
          {{ order.client.name }}
        </td>
        <td
          class="border-t-0 align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4"
        >
          {{ order.product.name }}
        </td>
        <td
          class="border-t-0 align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4"
        >
          {{ order.created_at }}
        </td>
        <td
          class="border-t-0 align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4"
        >
          ${{ order.total }}
        </td>
        <td
          class="border-t-0 align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4"
        >
          <ng-container
            *ngIf="order.status === 'Completado'; else cancelStatus"
          >
            <i class="fas fa-circle text-green-500 mr-2"></i> Completado
          </ng-container>
          <ng-template #cancelStatus>
            <ng-container
              *ngIf="order.status === 'Cancelado'; else pendingStatus"
            >
              <i class="fas fa-circle text-red-500 mr-2"></i> Cancelado
            </ng-container>
            <ng-template #pendingStatus>
              <ng-container
                *ngIf="order.status === 'Pendiente'; else pendingStatus"
              >
                <i class="fas fa-circle text-yellow-500 mr-2"></i>
                Pendiente
              </ng-container>
              <ng-template #pendingStatus>
                <i class="fas fa-circle text-red-500 mr-2"></i> Rechazado
              </ng-template>
            </ng-template>
          </ng-template>
        </td>
        <td
          class="border-t-0 align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4"
        >
          <button
            class="text-white bg-green-700 hover:bg-green-800 mr-5 py-2.5 px-5 rounded text-sm leading-3 focus:outline-none"
            (click)="redirectToDetails(order.id)"
          >
            Mostrar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
