<div class="flex flex-wrap h-screen">
  <div
    class="relative w-full flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg pt-5"
  >
    <div class="px-10 pt-5 flex justify-between">
      <div class="relative w-4/12">
        <input
          type="search"
          id="default-search"
          class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-xl bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
          placeholder="Buscar   producto..."
        />
        <div
          class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none"
        >
          <svg
            class="w-4 h-4 text-gray-500 dark:text-gray-400"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
            />
          </svg>
        </div>
      </div>

      <button
        routerLink="/farmer/products/details"
        class="ml-8 w-32 py-3 px-6 bg-[#38C984] text-white rounded-xl text-lg font-semibold"
      >
        + Agregar
      </button>
    </div>

    <div class="mt-10 grid grid-cols-6 gap-10">
      <button
        *ngFor="let data of catalogData!.data"
        class="h-60 p-5 bg-white rounded-3xl shadow-lg"
        (click)="redirectToProductDetail(data.id)"
      >
        <img
          class="h-2/3 w-full rounded-3xl border"
          [src]="
            data.photos.length > 0
              ? data.photos[0].url
              : '../assets/vegetables.jpg'
          "
        />

        <h3 class="mt-4 font-medium">{{ data.product }}</h3>
      </button>
    </div>
    <!-- Display a message if catalogData is empty -->
    <div
      *ngIf="!catalogData || !catalogData.data || catalogData.data.length === 0"
      class="mt-10 text-center"
    >
      <p class="text-gray-500">Aún no hay productos agregados.</p>
    </div>
  </div>
</div>
