<section class="p-10 w-full h-full bg-[#f6f6f6]">
  <div class="p-10 bg-white shadow-lg rounded-3xl w-full h-full">
    <div class="flex justify-between">
      <div class="relative w-4/12">
        <input
          type="search"
          id="default-search"
          class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-xl bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
          placeholder="Buscar   producto..."
        />
        <div
          class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none"
        >
          <svg
            class="w-4 h-4 text-gray-500 dark:text-gray-400"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
            />
          </svg>
        </div>
      </div>

      <button
        routerLink="/farmer/products/details"
        class="ml-8 w-32 py-3 px-6 bg-[#38C984] text-white rounded-xl text-lg font-semibold"
      >
        + Agregar
      </button>
    </div>
    <div class="mt-10 grid grid-cols-6 gap-10">
      <button
        *ngFor="let data of catalogData!.data"
        class="h-60 p-5 bg-white rounded-3xl shadow-lg"
        (click)="redirectToProductDetail(data.id)"
      >
        <img
          class="h-2/3 w-full rounded-3xl border"
          [src]="
            data.photos.length > 0
              ? data.photos[0].photo
              : '../assets/vegetables.jpg'
          "
        />

        <h3 class="mt-4 font-medium">{{ data.product }}</h3>
      </button>
    </div>
  </div>
</section>
