<div class="flex flex-wrap mt-12">
  <div
    class="border relative w-full flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg pt-5"
  >
    <div class="px-10 pt-5 flex justify-between">
      <div class="relative w-6/12">
        <input
          class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
          placeholder="Buscar producto..."
        />
        <div
          class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none"
        >
          <svg
            class="w-4 h-4 text-gray-500 dark:text-gray-400"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
            />
          </svg>
        </div>
      </div>
      <button
        routerLink="/farmer/products/details"
        class="w-32 focus:outline-none text-white bg-green-700 hover:bg-green-800 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2"
      >
        + Agregar
      </button>
    </div>

    <div
      class="px-10 my-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-10"
    >
      <button
        *ngFor="let data of catalogData!.data"
        class="h-60 flex justify-start items-start flex-col rounded-2xl border"
        (click)="redirectToProductDetail(data.id)"
      >
        <div class="h-2/3 w-full bg-gray-100 rounded-t-2xl border-b">
          <img
            class="h-full w-2/3 mx-auto object-cover"
            [src]="
              data.photos.length > 0
                ? data.photos[0].url
                : '../assets/vegetables.jpg'
            "
          />
        </div>

        <div class="p-2 flex flex-col items-start justify-start">
          <p
            class="block uppercase tracking-wide text-grey-darker text-sm font-bold mt-2"
          >
            {{ data.product }}
          </p>
          <p class="block uppercase tracking-wide text-grey-darker text-xs">
            Fecha de corte: {{ data.cutoff_date }}
          </p>
          <p class="block uppercase tracking-wide text-grey-darker text-xs">
            {{ data.price + " " + data.measure }}
          </p>
        </div>
      </button>
    </div>
    <!-- Display a message if catalogData is empty -->
    <div
      *ngIf="!catalogData || !catalogData.data || catalogData.data.length === 0"
      class="mt-10 text-center"
    >
      <p class="text-gray-500">Aún no hay productos agregados.</p>
    </div>
  </div>
</div>
