<section class="min-h-[90vh] px-24">
  <div class="flex w-full mt-10 h-1/6 bg-[#F6F6F6] rounded-[60px]">
    <article class="w-3/6 mt-10 mb-10 mx-10">
      <img class="w-full rounded-3xl" src="../assets/vegetables.jpg" />
      <div class="w-full mt-10 flex gap-4">
        <img class="w-2/6 rounded-3xl" src="../assets/vegetables.jpg" />
        <img class="w-2/6 rounded-3xl" src="../assets/vegetables.jpg" />
        <img class="w-2/6 rounded-3xl" src="../assets/vegetables.jpg" />
      </div>
    </article>
    <article class="bg-white shadow-lg rounded-3xl p-10 mt-10 mb-10 mx-24">
      <h2
        class="text-[#2A9763] font-['Montserrat_Alternates'] text-3xl font-semibold"
      >
        Manzana Verde Colima
      </h2>

      <h3
        class="text-[#288a5b] font-['Montserrat_Alternates'] font-bold text-4xl my-5"
      >
        $25.5 <span>Kg.</span>
      </h3>
      <p class="mt-5 max-w-2xl text-base">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde rem modi
        soluta, earum quisquam aspernatur iure ipsa harum magnam beatae fugit ad
        ipsam omnis voluptas veritatis nobis? Architecto, consequuntur quisquam?
      </p>

      <table class="w-3/5">
        <thead>
          <tr>
            <td class="font-semibold">Detalles</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Fecha de cosecha</td>
            <td>18/22/2002</td>
          </tr>
          <tr>
            <td>Minimo de venta</td>
            <td>5kg</td>
          </tr>
        </tbody>
      </table>
      <div class="mt-8 mb-5">
        <h4 class="my-2 font-semibold text-[#2A9763]">Productor</h4>
        <div class="max-w-2xl flex items-center">
          <img
            class="w-20 h-20 rounded-full"
            src="../assets/amlo.jpg"
            alt="Avatar"
          />
          <div class="px-6 py-4">
            <!-- Contenido adicional de la tarjeta -->
            <div class="font-bold text-xl mb-2">
              Andres Manuel Lopez Obrador
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col my-5">
        <label class="font-semibold">Cantidad</label>
        <input
          type="text"
          class="w-3/12 h-10 rounded-md border l border-gray-400"
        />
      </div>
      <button
        class="mt-20 bg-[#38C984] text-white rounded-2xl font-semibold text-lg block h-16 w-56"
      >
        Comprar
      </button>
    </article>
  </div>
</section>
