<div class="flex flex-wrap mt-12">
  <div
    class="border relative w-full flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg pt-5"
  >
    <div class="rounded-t mb-5 px-4 lg:px-8 py-3 border-0">
      <div class="flex flex-col lg:flex-row gap-3 pt-5 pb-2">
        <div class="relative w-full max-w-full flex-grow flex-1">
          <h3 class="font-semibold text-lg">Detalles Ordenes</h3>
        </div>

        <div class="grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-5">
          <button
            routerLink="/farmer/orders"
            routerLinkActive="bg-[#15803D] text-white border-[#38C984]  "
            [routerLinkActiveOptions]="{ exact: true }"
            class="items-center px-4 py-2 border border-gray-300 rounded-md font-semibold text-xs text-gray-700 uppercase tracking-widest shadow-sm focus:outline-none hover:border-[#38C984] active:bg-gray-50 transition ease-in-out duration-150"
            x-on:click.prevent="$refs.photo.click()"
          >
            All Orders
          </button>
          <button
            routerLink="/farmer/orders/completed"
            routerLinkActive="bg-[#15803D] text-white border-[#38C984]  "
            [routerLinkActiveOptions]="{ exact: true }"
            class="px-4 py-2 border border-gray-300 rounded-md font-semibold text-xs text-gray-700 uppercase tracking-widest shadow-sm focus:outline-none hover:border-[#38C984] active:bg-gray-50 transition ease-in-out duration-150"
            x-on:click.prevent="$refs.photo.click()"
          >
            Completado
          </button>
          <button
            routerLink="/farmer/orders/pending"
            routerLinkActive="bg-[#15803D] text-white border-[#38C984]  "
            [routerLinkActiveOptions]="{ exact: true }"
            class="px-4 py-2 border border-gray-300 rounded-md font-semibold text-xs text-gray-700 uppercase tracking-widest shadow-sm focus:outline-none hover:border-[#38C984] active:bg-gray-50 transition ease-in-out duration-150"
            x-on:click.prevent="$refs.photo.click()"
          >
            Pendientes
          </button>
          <button
            routerLink="/farmer/orders/canceled"
            routerLinkActive="bg-[#15803D] text-white border-[#38C984]  "
            [routerLinkActiveOptions]="{ exact: true }"
            class="px-4 py-2 border border-gray-300 rounded-md font-semibold text-xs text-gray-700 uppercase tracking-widest shadow-sm focus:outline-none hover:border-[#38C984] active:bg-gray-50 transition ease-in-out duration-150"
            x-on:click.prevent="$refs.photo.click()"
          >
            Canceladas
          </button>
          <button
            routerLink="/farmer/orders/rejected"
            routerLinkActive="bg-[#15803D] text-white border-[#38C984]  "
            [routerLinkActiveOptions]="{ exact: true }"
            class="px-4 py-2 border border-gray-300 rounded-md font-semibold text-xs text-gray-700 uppercase tracking-widest shadow-sm focus:outline-none hover:border-[#38C984] active:bg-gray-50 transition ease-in-out duration-150"
            x-on:click.prevent="$refs.photo.click()"
          >
            Rechazadas
          </button>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
