<div class="w-full">
  <div class="bg-[#f6f6f6] px-4 overflow-x-auto">
    <table class="w-full whitespace-nowrap">
      <thead>
        <tr
          tabindex="0"
          class="focus:outline-none h-20 w-full text-sm leading-none"
        >
          <th class="font-normal text-left pl-4">No. Orden</th>
          <th class="font-normal text-left pl-11">Cliente</th>
          <th class="font-normal text-left pl-10">Orden</th>
          <th class="font-normal text-left">Fecha Creacion</th>
          <th class="font-normal text-left">Precio</th>
          <th class="font-normal text-left">Status</th>
          <th class="font-normal text-left w-32">Actions</th>
        </tr>
      </thead>
      <tbody class="w-full">
        <tr
          tabindex="0"
          class="focus:outline-none h-20 text-sm leading-none text-gray-700 border-b border-t border-gray-200hover:bg-gray-100 dark:hover:bg-gray-800"
        >
          <td class="pl-4">1</td>
          <td class="pl-11">
            <div class="flex items-center">Aaron Ismael Sales Flores</div>
          </td>
          <td>
            <p class="mr-16 pl-10">Mnzana Verde</p>
          </td>
          <td>
            <p class="mr-16">06/02/2020</p>
          </td>
          <td>
            <p class="mr-16">$45,000.00</p>
          </td>
          <td>
            <div
              class="w-20 h-6 flex items-center mr-16 justify-center bg-blue-50 rounded-full"
            >
              <p class="text-xs leading-3 text-blue-700">Confirmado</p>
            </div>
          </td>
          <td>
            <div class="flex items-center">
              <button
                class="focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 bg-gray-100 dark:bg-gray-800 mr-5 hover:bg-gray-200 dark:hover:bg-gray-700 py-2.5 px-5 rounded text-sm leading-3 text-gray-600 dark:text-gray-200 focus:outline-none"
              >
                Mostrar
              </button>
            </div>
          </td>
        </tr>
        <tr
          tabindex="0"
          class="focus:outline-none h-20 text-sm leading-none text-gray-700 border-b border-t border-gray-200hover:bg-gray-100 dark:hover:bg-gray-800"
        >
          <td class="pl-4">3</td>
          <td class="pl-11">
            <div class="flex items-center">Cesar Alberto Mackintosh</div>
          </td>
          <td>
            <p class="mr-16 pl-10">Zanahoria Verde</p>
          </td>
          <td>
            <p class="mr-16">06/02/2020</p>
          </td>
          <td>
            <p class="mr-16">$47,000.00</p>
          </td>
          <td>
            <div
              class="w-20 h-6 flex items-center mr-16 justify-center bg-yellow-50 rounded-full"
            >
              <p class="text-xs leading-3 text-yellow-700">Pendiente</p>
            </div>
          </td>
          <td>
            <div class="flex items-center">
              <button
                class="focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 bg-gray-100 dark:bg-gray-800 mr-5 hover:bg-gray-200 dark:hover:bg-gray-700 py-2.5 px-5 rounded text-sm leading-3 text-gray-600 dark:text-gray-200 focus:outline-none"
              >
                Mostrar
              </button>
            </div>
          </td>
        </tr>

        <tr
          tabindex="0"
          class="focus:outline-none h-20 text-sm leading-none text-gray-700 border-b border-t border-gray-200hover:bg-gray-100 dark:hover:bg-gray-800"
        >
          <td class="pl-4">3</td>
          <td class="pl-11">
            <div class="flex items-center">Edwin Alberto Merino Lopez</div>
          </td>
          <td>
            <p class="mr-16 pl-10">MElon azul</p>
          </td>
          <td>
            <p class="mr-16">06/02/2020</p>
          </td>
          <td>
            <p class="mr-16">$56,000.00</p>
          </td>
          <td>
            <div
              class="w-20 h-6 flex items-center mr-16 justify-center bg-red-50 rounded-full"
            >
              <p class="text-xs leading-3 text-red-700">Cancelado</p>
            </div>
          </td>

          <td>
            <div class="flex items-center">
              <button
                routerLink="/dashboard/orders/details"
                class="focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 bg-gray-100 dark:bg-gray-800 mr-5 hover:bg-gray-200 dark:hover:bg-gray-700 py-2.5 px-5 rounded text-sm leading-3 text-gray-600 dark:text-gray-200 focus:outline-none"
              >
                Mostrar
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
