<div
  class="relative flex flex-col min-w-0 break-words w-full rounded bg-blueGray-700"
>
  <table class="w-full text-sm text-left rtl:text-right text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-3">No. Orden</th>
        <th scope="col" class="px-6 py-3">Cliente</th>
        <th scope="col" class="px-6 py-3">Orden</th>
        <th scope="col" class="px-6 py-3">Fecha Creacion</th>
        <th scope="col" class="px-6 py-3">Precio</th>
        <th scope="col" class="px-6 py-3">Status</th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Edit</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white hover:bg-gray-50">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
        >
          1
        </th>
        <td class="px-6 py-4">Aaron Ismael Sales Flores</td>
        <td class="px-6 py-4">Mnzana Verde</td>
        <td class="px-6 py-4">06/02/2020</td>
        <td class="px-6 py-4">$45,000.00</td>
        <td class="px-6 py-4">
          <div
            class="w-20 h-6 flex items-center mr-16 justify-center bg-blue-50 rounded-full"
          >
            <p class="text-xs leading-3 text-blue-700">Confirmado</p>
          </div>
        </td>
        <td class="px-2 py-4">
          <button
            class="focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 bg-gray-100 mr-5 hover:bg-gray-200 py-2.5 px-5 rounded text-sm leading-3 text-gray-600 focus:outline-none"
          >
            Mostrar
          </button>
        </td>
      </tr>
      <tr class="bg-white hover:bg-gray-50">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
        >
          1
        </th>
        <td class="px-6 py-4">Aaron Ismael Sales Flores</td>
        <td class="px-6 py-4">Mnzana Verde</td>
        <td class="px-6 py-4">06/02/2020</td>
        <td class="px-6 py-4">$45,000.00</td>
        <td class="px-6 py-4">
          <div
            class="w-20 h-6 flex items-center mr-16 justify-center bg-yellow-50 rounded-full"
          >
            <p class="text-xs leading-3 text-yellow-700">Pendiente</p>
          </div>
        </td>
        <td class="px-2 py-4">
          <button
            class="focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 bg-gray-100 mr-5 hover:bg-gray-200 py-2.5 px-5 rounded text-sm leading-3 text-gray-600 focus:outline-none"
          >
            Mostrar
          </button>
        </td>
      </tr>
      <tr class="bg-white hover:bg-gray-50">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
        >
          1
        </th>
        <td class="px-6 py-4">Aaron Ismael Sales Flores</td>
        <td class="px-6 py-4">Mnzana Verde</td>
        <td class="px-6 py-4">06/02/2020</td>
        <td class="px-6 py-4">$45,000.00</td>
        <td class="px-6 py-4">
          <div
            class="w-20 h-6 flex items-center mr-16 justify-center bg-red-50 rounded-full"
          >
            <p class="text-xs leading-3 text-red-700">Cancelado</p>
          </div>
        </td>
        <td class="px-2 py-4">
          <button
            class="focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 bg-gray-100 mr-5 hover:bg-gray-200 py-2.5 px-5 rounded text-sm leading-3 text-gray-600 focus:outline-none"
          >
            Mostrar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
