<section class="min-h-[90vh] px-24">
  <div class="mt-14 pb-10 px-10 w-full h-1/6 bg-[#F6F6F6] rounded-[60px]">
    <img
      class="rounded-[60px] h-[350px] mx-auto relative z-0"
      src="../assets/farmer-store.jpeg"
    />
    <div class="w-full bg-white p-10 rounded">
      <div class="border-b-2"><input /></div>
      <div class="mt-10 flex gap-5">
        <button
          class="bg-white shadow-lg py-3 px-6 rounded-3xl text-[#2A9763] font-medium"
        >
          Popular food
        </button>
        <button
          class="py-3 px-6 rounded-3xl border-2 border-[#38C984] text-[#797a7c] font-medium"
        >
          Frutas
        </button>
        <button
          class="border-2 border-[#38C984] text-[#797a7c] py-3 px-6 rounded-3xl font-medium"
        >
          Verduras
        </button>
        <button
          class="border-2 border-[#38C984] text-[#797a7c] py-3 px-6 rounded-3xl font-medium"
        >
          Legumbres
        </button>
        <button
          class="border-2 border-[#38C984] text-[#797a7c] py-3 px-6 rounded-3xl font-medium"
        >
          Granos
        </button>
      </div>

      <div class="mt-10 grid grid-cols-4 gap-10">
        <button
          *ngFor="let data of catalog!.data"
          class="flex h-36 rounded shadow-lg bg-gray-200"
          (click)="redirectToProductDetail(data.id)"
        >
          <img
            class="w-5/12 h-auto rounded"
            [src]="
              data.photos.length > 0
                ? data.photos[0].url
                : '../assets/vegetables.jpg'
            "
          />
          <div class="p-5 flex flex-col justify-start">
            <p class="font-medium">{{ data.product }}</p>
            <p
              class="mt-1 font-bold text-xl text-[#2A9763] font-['Montserrat_Alternates']"
            >
              ${{ data.price }}
            </p>
            <p
              class="mt-1 font-bold text-base text-[#2A9763] font-['Montserrat_Alternates']"
            >
              Venta Minimo:
            </p>
            <p
              class="mt-1 font-bold text-base text-[#2A9763] font-['Montserrat_Alternates']"
            >
              {{ data.minimum_sale }}{{ data.measure }}
            </p>
          </div>
        </button>
      </div>
    </div>
  </div>
</section>
