<div class="flex flex-wrap h-screen">
  <div
    class="relative w-full flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg pt-5"
  >
    <form [formGroup]="farmForm" class="grid grid-cols-2 gap-x-10">
      <div class="flex border-b border-[#2A9763] my-5">
        <h3
          class="text-lg font-bold text-[#2A9763] font-['Montserrat_Alternates']"
        >
          Datos Generales
        </h3>
      </div>
      <div class="flex border-b border-[#2A9763] my-5">
        <h3
          class="text-lg font-bold text-[#2A9763] font-['Montserrat_Alternates']"
        >
          Foto
        </h3>
      </div>
      <article class="p-5 rounded-3xl shadow bg-[#f6f6f6]">
        <div class="flex flex-col">
          <label>Nombre:</label>
          <input
            formControlName="name"
            type="text"
            class="h-9 border border-gray-400 rounded-2xl"
          />
        </div>
        <div class="flex flex-col">
          <label>Telefono:</label>
          <input
            formControlName="phone"
            type="text"
            class="h-9 border border-gray-400 rounded-2xl"
          />
        </div>
        <div class="flex flex-col">
          <label>Calle:</label>
          <input
            formControlName="street"
            type="text"
            class="h-9 border border-gray-400 rounded-2xl"
          />
        </div>
        <div class="flex gap-10 w-full mt-5">
          <span class="w-2/4 flex flex-col">
            <label>Numero exterior:</label>
            <input
              formControlName="ext_num"
              type="text"
              class="h-9 border border-gray-400 rounded-2xl"
            />
          </span>
          <span class="w-2/4 flex flex-col">
            <label>Numero interior:</label>
            <input
              formControlName="int_num"
              type="text"
              class="h-9 border border-gray-400 rounded-2xl"
            />
          </span>
        </div>

        <div class="flex gap-10 w-full mt-5">
          <span class="w-2/4 flex flex-col">
            <label>C.P:</label>
            <input
              formControlName="zip_code"
              type="text"
              class="h-9 border border-gray-400 rounded-2xl"
            />
          </span>
          <span class="w-2/4 flex flex-col">
            <label>Colonia:</label>
            <input
              formControlName="suburb"
              type="text"
              class="h-9 border border-gray-400 rounded-2xl"
            />
          </span>
        </div>
        <div class="flex gap-10 w-full mt-5">
          <span class="w-2/4 flex flex-col">
            <label>Ciudad:</label>
            <input
              formControlName="city"
              type="text"
              class="h-9 border border-gray-400 rounded-2xl"
            />
          </span>
          <span class="w-2/4 flex flex-col">
            <label>Estado:</label>
            <input
              formControlName="state"
              type="text"
              class="h-9 border border-gray-400 rounded-2xl"
            />
          </span>
        </div>
      </article>
      <article
        class="p-5 flex justify-center items-center rounded-3xl shadow bg-[#f6f6f6]"
      >
        <div
          *ngIf="selectedImage.file != null || selectedImage.previewUrl != null"
        >
          <h4>Imágenes seleccionadas:</h4>
          <div class="relative mx-auto border w-[200px] h-[200px]">
            <img
              class="absolute"
              *ngIf="selectedImage.previewUrl"
              [src]="selectedImage.previewUrl"
              alt="Vista previa"
            />
            <button
              class="absolute inset-y-0 inset-x-0"
              (click)="removeImage()"
            >
              Eliminar
            </button>
          </div>
        </div>
        <input
          class="px-4 mx-auto"
          type="file"
          (change)="onFileSelected($event)"
          accept="image/*"
        />
      </article>

      <div
        class="mt-10 col-start-2 col-end-3 flex flex-col justify-center items-center gap-10"
      >
        <button
          class="ml-8 w-32 py-3 px-6 bg-[#38C984] text-white rounded-xl text-lg font-semibold"
        >
          Guardar
        </button>
        <button
          class="ml-8 w-32 py-3 px-6 bg-[#38C984] text-white rounded-xl text-lg font-semibold"
        >
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
