<div class="flex flex-wrap mt-12">
  <div
    class="border relative w-full flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg pt-5"
  >
    <div class="rounded-t mb-5 px-4 lg:px-8 py-3 border-0">
      <div class="flex flex-col lg:flex-row gap-3 pt-5 pb-2">
        <div class="relative w-full max-w-full flex-grow flex-1">
          <h3 class="font-semibold text-lg">Ordenes</h3>
        </div>
        <!--
        <div class="grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-5">
          <button
            routerLink="/farmer/orders"
            routerLinkActive="bg-[#15803D] text-white border-[#38C984]  "
            [routerLinkActiveOptions]="{ exact: true }"
            class="items-center px-4 py-2 border border-gray-300 rounded-md font-semibold text-xs text-gray-700 uppercase tracking-widest shadow-sm focus:outline-none hover:border-[#38C984] active:bg-gray-50 transition ease-in-out duration-150"
            x-on:click.prevent="$refs.photo.click()"
          >
            All Orders
          </button>
          <button
            routerLink="/farmer/orders/completed"
            routerLinkActive="bg-[#15803D] text-white border-[#38C984]  "
            [routerLinkActiveOptions]="{ exact: true }"
            class="px-4 py-2 border border-gray-300 rounded-md font-semibold text-xs text-gray-700 uppercase tracking-widest shadow-sm focus:outline-none hover:border-[#38C984] active:bg-gray-50 transition ease-in-out duration-150"
            x-on:click.prevent="$refs.photo.click()"
          >
            Completado
          </button>
          <button
            routerLink="/farmer/orders/pending"
            routerLinkActive="bg-[#15803D] text-white border-[#38C984]  "
            [routerLinkActiveOptions]="{ exact: true }"
            class="px-4 py-2 border border-gray-300 rounded-md font-semibold text-xs text-gray-700 uppercase tracking-widest shadow-sm focus:outline-none hover:border-[#38C984] active:bg-gray-50 transition ease-in-out duration-150"
            x-on:click.prevent="$refs.photo.click()"
          >
            Pendientes
          </button>
          <button
            routerLink="/farmer/orders/canceled"
            routerLinkActive="bg-[#15803D] text-white border-[#38C984]  "
            [routerLinkActiveOptions]="{ exact: true }"
            class="px-4 py-2 border border-gray-300 rounded-md font-semibold text-xs text-gray-700 uppercase tracking-widest shadow-sm focus:outline-none hover:border-[#38C984] active:bg-gray-50 transition ease-in-out duration-150"
            x-on:click.prevent="$refs.photo.click()"
          >
            Canceladas
          </button>
          <button
            routerLink="/farmer/orders/rejected"
            routerLinkActive="bg-[#15803D] text-white border-[#38C984]  "
            [routerLinkActiveOptions]="{ exact: true }"
            class="px-4 py-2 border border-gray-300 rounded-md font-semibold text-xs text-gray-700 uppercase tracking-widest shadow-sm focus:outline-none hover:border-[#38C984] active:bg-gray-50 transition ease-in-out duration-150"
            x-on:click.prevent="$refs.photo.click()"
          >
            Rechazadas
          </button>
        </div> -->
      </div>
    </div>
    <div class="mt-10 overflow-x-auto px-0">
      <table class="w-full min-w-max table-auto text-left">
        <thead>
          <tr class="uppercase">
            <!--  <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
          <p
            class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70"
          >No. Orden
          </p>
        </th> -->
            <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
              <p
                class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70"
              ></p>
            </th>
            <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
              <p
                class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70"
              >
                Orden
              </p>
            </th>
            <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
              <p
                class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70"
              >
                Fecha de Orden
              </p>
            </th>
            <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
              <p
                class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70"
              >
                Cantidad
              </p>
            </th>
            <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
              <p
                class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70"
              >
                Precio
              </p>
            </th>
            <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
              <p
                class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70"
              >
                Status
              </p>
            </th>
            <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
              <p
                class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70"
              ></p>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr *ngIf="loading">
            <td colspan="7" class="text-center h-60">Cargando...</td>
          </tr>
          <tr *ngIf="ordersData?.data?.length === 0">
            <td colspan="7" class="text-center h-60">NO HAY REGISTROS</td>
          </tr>
          <tr *ngFor="let order of ordersData?.data">
            <!-- <th
          class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4 text-left flex items-center"
        >
          {{ order.id }}
        </th> -->
            <td
              class="border-t-0 align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4"
            >
              <img
                class="w-32 h-32 object-cover rounded"
                [src]="
                  order.product.photo
                    ? order.product.photo
                    : '../assets/vegetables.jpg'
                "
              />
            </td>
            <td
              class="border-t-0 align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4"
            >
              {{ order.product.name }}
            </td>
            <td
              class="border-t-0 align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4"
            >
              {{ order.created_at | date : "MMMM dd, yyyy" : "" : "es-MX" }}
            </td>
            <td
              class="border-t-0 align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4"
            >
              {{ order.quantity }}
            </td>
            <td
              class="border-t-0 align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4"
            >
              ${{ order.total }}
            </td>
            <td
              class="border-t-0 align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4"
            >
              <ng-container
                *ngIf="order.status === 'Completado'; else cancelStatus"
              >
                <i class="fas fa-circle text-green-500 mr-2"></i> Completado
              </ng-container>
              <ng-template #cancelStatus>
                <ng-container
                  *ngIf="order.status === 'Cancelado'; else pendingStatus"
                >
                  <i class="fas fa-circle text-red-500 mr-2"></i> Cancelado
                </ng-container>
                <ng-template #pendingStatus>
                  <ng-container
                    *ngIf="order.status === 'Pendiente'; else pendingStatus"
                  >
                    <i class="fas fa-circle text-yellow-500 mr-2"></i>
                    Pendiente
                  </ng-container>
                  <ng-template #pendingStatus>
                    <i class="fas fa-circle text-red-500 mr-2"></i> Rechazado
                  </ng-template>
                </ng-template>
              </ng-template>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
