<div class="flex flex-wrap">
  <div
    class="relative w-full flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg pt-5"
  >
    <div class="mx-5 mb-10 flex justify-between items-center">
      <div>
        <h3
          class="text-3xl font-bold text-[#2A9763] font-['Montserrat_Alternates']"
        >
          Información Usuario
        </h3>
      </div>
    </div>

    <div class="h-full flex gap-10">
      <article class="w-1/2">
        <div class="flex border-b border-[#2A9763] my-5">
          <h3
            class="text-lg font-bold text-[#2A9763] font-['Montserrat_Alternates']"
          >
            Datos Generales
          </h3>
        </div>
        <div class="p-5 rounded-3xl shadow bg-[#f6f6f6]">
          <table [cellSpacing]="0" [cellPadding]="0" class="w-full">
            <tbody>
              <tr>
                <td class="w-1/2 font-bold">ID de Usuario:</td>
                <td>{{ (userData?.data)!.id }}</td>
              </tr>
              <tr>
                <td class="font-bold">Nombre:</td>
                <td>{{ (userData?.data)!.first_name }}</td>
              </tr>
              <tr>
                <td class="font-bold">Apellido:</td>
                <td>{{ (userData?.data)!.last_name }}</td>
              </tr>
              <tr>
                <td class="font-bold">Email:</td>
                <td>{{ (userData?.data)!.email }}</td>
              </tr>
              <tr>
                <td class="font-bold">Teléfono:</td>
                <td>{{ (userData?.data)!.phone }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div
          class="flex border-b border-[#2A9763] my-5"
          *ngIf="userRole !== 'admin'"
        >
          <h3
            class="text-lg font-bold text-[#2A9763] font-['Montserrat_Alternates']"
          >
            Dirección:
          </h3>
        </div>
        <div
          class="p-5 rounded-3xl shadow bg-[#f6f6f6]"
          *ngIf="userRole !== 'admin'"
        >
          <table [cellSpacing]="0" [cellPadding]="0" class="w-full">
            <tbody>
              <tr>
                <td class="w-1/2 font-bold">Calle:</td>
                <td>{{ (userData?.data)!.phone }}</td>
              </tr>
              <tr>
                <td class="font-bold">Número Exterior:</td>
                <td>{{ (userData?.data)!.ext_num }}</td>
              </tr>
              <tr>
                <td class="font-bold">Número Interior:</td>
                <td>{{ (userData?.data)!.int_num }}</td>
              </tr>
              <tr>
                <td class="font-bold">Colonia:</td>
                <td>{{ (userData?.data)!.suburb }}</td>
              </tr>
              <tr>
                <td class="font-bold">Ciudad:</td>
                <td>{{ (userData?.data)!.city }}</td>
              </tr>
              <tr>
                <td class="font-bold">Estado:</td>
                <td>{{ (userData?.data)!.state }}</td>
              </tr>
              <tr>
                <td class="font-bold">Código Postal:</td>
                <td>{{ (userData?.data)!.zip_code }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </article>
      <article class="w-1/2">
        <div class="flex border-b border-[#2A9763] my-5">
          <h3
            class="text-lg font-bold text-[#2A9763] font-['Montserrat_Alternates']"
          >
            Foto:
          </h3>
        </div>
        <div
          class="p-5 h-[440px] flex justify-center items-center rounded-3xl shadow bg-[#f6f6f6]"
        >
          <div
            class="w-[250px] h-[300px] bg-red-200 rounded-3xl shadow-xl"
            [ngStyle]="{
              'background-image':
                'url(' +
                (userData?.data?.photo || '../assets/profile-default.png') +
                ')',
              'background-size': 'cover',
              'background-position': 'center',
              'background-repeat': 'no-repeat'
            }"
          ></div>
        </div>
      </article>
    </div>
  </div>
</div>
