<div class="flex flex-wrap relative">
  <div class="w-full flex justify-end mb-5 px-4">
    <button class="bg-green-700 text-white active:bg-green-600 text-xs font-bold uppercase px-3 rounded-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150 py-3" type="button" (click)="weekFilter()" >Semana</button>
    <button class="bg-green-700 text-white active:bg-green-600 text-xs font-bold uppercase px-3 rounded-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150 py-3" type="button" (click)="monthFilter()">Mes</button>
    <button class="bg-green-700 text-white active:bg-green-600 text-xs font-bold uppercase px-3 rounded-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150 py-3" type="button" (click)="yearFilter()">Año</button>
  </div>
  <div class="w-full mb-12 xl:mb-0">
    <div>
      <!-- Card stats -->
      <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <div class="relative flex flex-col min-w-0 mb-6 break-words bg-white shadow-soft-xl rounded bg-clip-border">
            <div class="flex-auto p-9 shadow-lg">
              <div class="flex flex-wrap -mx-3">
                <div class="flex-none w-2/3 max-w-full px-3">
                  <div>
                    <p class="mb-0 font-semibold leading-normal text-sm">ORDENES PENDIENTES</p>
                    <h5 class="mb-0 font-bold">
                      {{ pendingOrders }}
                    </h5>
                  </div>
                </div>
                <div class="w-4/12 max-w-full px-3 ml-auto text-right flex-0">
                  <div class="inline-block w-12 h-12 text-center rounded-full bg-yellow-600 shadow-soft-2xl">
                    <i class="fa-solid fa-exclamation text-lg relative top-3 text-white" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <div class="relative flex flex-col min-w-0 mb-6 break-words bg-white shadow-soft-xl rounded bg-clip-border">
            <div class="flex-auto p-9 shadow-lg">
              <div class="flex flex-wrap -mx-3">
                <div class="flex-none w-2/3 max-w-full px-3">
                  <div>
                    <p class="mb-0 font-semibold leading-normal text-sm">ORDENES COMPLETADAS</p>
                    <h5 class="mb-0 font-bold">
                      {{ completeOrders }}
                    </h5>
                  </div>
                </div>
                <div class="w-4/12 max-w-full px-3 ml-auto text-right flex-0">
                  <div class="inline-block w-12 h-12 text-center rounded-full bg-green-700 shadow-soft-2xl">
                    <i class="fa-solid fa-check text-lg relative top-3 text-white" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <div class="relative flex flex-col min-w-0 mb-6 break-words bg-white shadow-soft-xl rounded bg-clip-border">
            <div class="flex-auto p-9 shadow-lg">
              <div class="flex flex-wrap -mx-3">
                <div class="flex-none w-2/3 max-w-full px-3">
                  <div>
                    <p class="mb-0 font-semibold leading-normal text-sm">ORDENES CANCELADAS</p>
                    <h5 class="mb-0 font-bold">
                      {{ canceledOrders }}
                    </h5>
                  </div>
                </div>
                <div class="w-4/12 max-w-full px-3 ml-auto text-right flex-0">
                  <div class="inline-block w-12 h-12 text-center rounded-full bg-red-500 shadow-soft-2xl">
                    <i class="fa-solid fa-xmark text-lg relative top-3 text-white" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <div class="relative flex flex-col min-w-0 mb-6 break-words bg-white shadow-soft-xl rounded bg-clip-border">
            <div class="flex-auto p-9 shadow-lg">
              <div class="flex flex-wrap -mx-3">
                <div class="flex-none w-2/3 max-w-full px-3">
                  <div>
                    <p class="mb-0 font-semibold leading-normal text-sm">PRODUCTOS ACTIVOS</p>
                    <h5 class="mb-0 font-bold">
                      {{ activeProducts }}
                    </h5>
                  </div>
                </div>
                <div class="w-4/12 max-w-full px-3 ml-auto text-right flex-0">
                  <div class="inline-block w-12 h-12 text-center rounded-full bg-blue-500 shadow-soft-2xl">
                    <i class="fa-solid fa-basket-shopping text-lg relative top-3 text-white" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flex flex-wrap mt-4">
  <div class="w-full xl:w-1/2 mb-12 xl:mb-0 px-4">
    <div
      class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-blueGray-700"
    >
      <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
        <div class="flex flex-wrap items-center gap-2">
          <div class="relative w-full max-w-full flex-grow flex-1">
            <h6 class="uppercase text-blueGray-100 mb-1 text-xs font-semibold">
              Histórico
            </h6>
            <h2 class="text-xl font-semibold">Órdenes</h2>
          </div>
        </div>
      </div>
      <div class="px-4 pb-4 flex-auto">
        <!-- Chart -->
        <div class="relative w-full">
          <canvas id="chart">{{ chart }}</canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="p-4 bg-white shadow-lg rounded-3xl w-1/2 h-full flex flex-col">
    <div class="relative w-full max-w-full flex-grow flex-1">
      <h6 class="uppercase text-blueGray-100 mb-1 text-xs font-semibold">
        LISTADO
      </h6>
      <h2 class="text-xl font-semibold">Últimas Órdenes</h2>
    </div>
    <div class="flex flex-wrap mt-4">
      <div class="w-full mb-12 xl:mb-0 px-4">
        <div class="relative flex flex-col min-w-0 break-words w-full mb-6 rounded bg-blueGray-700">
        <div class="relative overflow-x-auto sm:rounded-lg">
          <table class="w-full text-sm text-left rtl:text-right text-gray-500">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                  <tr>
                    <th scope="col" class="px-6 py-3">
                      Producto
                    </th>
                    <th scope="col" class="px-6 py-3">
                      Cantidad
                    </th>
                    <th scope="col" class="px-6 py-3">
                      Fecha
                    </th>
                    <th scope="col" class="px-6 py-3">
                      
                    </th>
                  </tr>
              </thead>
              <tbody>
                <tr class="bg-white border-b">
                  <td class="px-6 py-4">
                    <p class="text-base font-semibold text-gray-900">Manzana Verde</p>
                  </td>
                  <td class="px-6 py-4">
                    2 Kilogramos
                  </td>
                  <td class="px-6 py-4">
                    24-12-2023
                  </td>
                  <td class="px-6 py-4">
                    <button type="button" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">Detalles</button>
                  </td>
                </tr>
              </tbody>
          </table>
          <!-- Edit user modal -->
          <div id="editUserModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 items-center justify-center hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
              <div class="relative w-full max-w-2xl max-h-full">
                  <!-- Modal content -->
                  <form class="relative bg-white rounded-lg">
                      <!-- Modal header -->
                      <div class="flex items-start justify-between p-4 border-b rounded-t">
                          <h3 class="text-xl font-semibold text-gray-900">
                              Edit user
                          </h3>
                        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-hide="editUserModal">
                          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                          </svg>
                          <span class="sr-only">Close modal</span>
                      </button>
                      </div>
                      <!-- Modal body -->
                      <div class="p-6 space-y-6">
                          <div class="grid grid-cols-6 gap-6">
                              <div class="col-span-6 sm:col-span-3">
                                  <label for="first-name" class="block mb-2 text-sm font-medium text-gray-900">First Name</label>
                                  <input type="text" name="first-name" id="first-name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5" placeholder="Bonnie" required="">
                              </div>
                              <div class="col-span-6 sm:col-span-3">
                                  <label for="last-name" class="block mb-2 text-sm font-medium text-gray-900">Last Name</label>
                                  <input type="text" name="last-name" id="last-name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5" placeholder="Green" required="">
                              </div>
                              <div class="col-span-6 sm:col-span-3">
                                  <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email</label>
                                  <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5" placeholder="example@company.com" required="">
                              </div>
                              <div class="col-span-6 sm:col-span-3">
                                  <label for="phone-number" class="block mb-2 text-sm font-medium text-gray-900">Phone Number</label>
                                  <input type="number" name="phone-number" id="phone-number" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5" placeholder="e.g. +(12)3456 789" required="">
                              </div>
                              <div class="col-span-6 sm:col-span-3">
                                  <label for="department" class="block mb-2 text-sm font-medium text-gray-900">Department</label>
                                  <input type="text" name="department" id="department" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5" placeholder="Development" required="">
                              </div>
                              <div class="col-span-6 sm:col-span-3">
                                  <label for="company" class="block mb-2 text-sm font-medium text-gray-900">Company</label>
                                  <input type="number" name="company" id="company" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5" placeholder="123456" required="">
                              </div>
                              <div class="col-span-6 sm:col-span-3">
                                  <label for="current-password" class="block mb-2 text-sm font-medium text-gray-900">Current Password</label>
                                  <input type="password" name="current-password" id="current-password" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5" placeholder="••••••••" required="">
                              </div>
                              <div class="col-span-6 sm:col-span-3">
                                  <label for="new-password" class="block mb-2 text-sm font-medium text-gray-900">New Password</label>
                                  <input type="password" name="new-password" id="new-password" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5" placeholder="••••••••" required="">
                              </div>
                          </div>
                      </div>
                      <!-- Modal footer -->
                      <div class="flex items-center p-6 space-x-3 rtl:space-x-reverse border-t border-gray-200 rounded-b">
                          <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Save all</button>
                      </div>
                  </form>
              </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="flex flex-wrap px-4">

</section>
