<div class="flex">
  <nav class="bg-[#2A9763] w-64 h-screen py-8 px-4">
    <div class="flex flex-col items-center justify-center">
      <img
        class="w-20 h-20 rounded-full"
        src="../assets/amlo.jpg"
        alt="Avatar"
      />
      <div class="px-6 py-4">
        <!-- Contenido adicional de la tarjeta -->
        <div
          class="font-bold text-lg text-center mb-2 font-['Montserrat_Alternates']"
        >
          Andres Manuel Lopez Obrador
        </div>
      </div>
    </div>
    <div></div>
    <label class="font-bold">Menu</label>
    <ul>
      <li>
        <a class="flex" href="">
          <img class="w-8" src="../assets/view-dashboard-outline.svg" />
          Dashboard
        </a>
      </li>
      <li>
        <a class="flex" href="">
          <img class="w-8" src="../assets/note-outline.svg" />Ordenes</a
        >
      </li>
      <li>
        <a class="flex" href="">
          <img class="w-8" src="../assets/note-edit-outline.svg" />Catalogo
          Productos</a
        >
      </li>
      <li>
        <a class="flex" href="">
          <img class="w-8" src="../assets/shape-rectangle-plus.svg" />Agregar
          Productos</a
        >
      </li>
      <li>
        <a class="flex" href="">
          <img class="w-8" src="../assets/cog-outline.svg" />Configuracion</a
        >
      </li>
    </ul>

    <a class="flex" href="">
      <img class="w-8" src="../assets/exit-to-app.svg" />Cerrar Sesion</a
    >
  </nav>

  <section class="h-screen"></section>
</div>
