<section class="min-h-[90vh] px-24 w-full flex">
  <div class="w-3/6 px-10 flex flex-col justify-center items-start">
    <h2
      class="text-5xl font-bold text-[#2A9763] font-['Montserrat_Alternates']"
    >
      El mejor lugar para comprar productos frescos directamente del campo y de
      origen local.
    </h2>
    <p class="mt-5 text-xl text-[#797a7c]">
      Buscar productos por categoría, precio u origen.
    </p>
    <div class="w-full mt-5 flex justify-start items-center">
      <input
        type="text"
        class="w-9/12 h-12 py-2 px-2 rounded-xl border border-gray-400"
      />
      <button
        class="ml-8 w-32 py-3 px-6 bg-[#38C984] text-white rounded-xl text-lg font-semibold"
        (click)="navigateToAbout()"
      >
        Buscar
      </button>
    </div>
  </div>
  <div class="w-3/6 p-20 flex justify-center items-center">
    <img src="../assets/home-img.jpg" />
  </div>
</section>
<hr />

<section class="h-[630px] px-24 pt-10 w-full">
  <h2
    class="ml-10 mb-10 text-3xl font-bold text-[#2A9763] font-['Montserrat_Alternates']"
  >
    Descubre cómo funciona nuestra plataforma:
  </h2>
  <div class="grid grid-cols-3">
    <div class="px-10">
      <img class="h-72 mx-auto" src="../assets/market-img.jpg" />
      <h3
        class="mt-10 mb-2 text-3xl font-semibold text-[#2A9763] font-['Montserrat_Alternates']"
      >
        Paso 1:
      </h3>
      <p class="text-lg text-justify text-[#797a7c]">
        Descubre una forma rápida y sencilla de buscar los productos frescos que
        necesitas. Con nuestra plataforma, podrás acceder a una amplia variedad
        de productos del campo y encontrar lo que buscas en segundos. ¡La
        frescura está a solo un clic de distancia!
      </p>
    </div>
    <div class="px-10">
      <img class="h-72 mx-auto" src="../assets/holding-img.jpg" />
      <h3
        class="mt-10 mb-2 text-3xl font-semibold text-[#2A9763] font-['Montserrat_Alternates']"
      >
        Paso 2:
      </h3>
      <p class="text-lg text-justify text-[#797a7c]">
        Encontrar el mejor precio para tus productos favoritos del campo nunca
        fue tan fácil. Podrás conocer las diferentes opciones disponibles y
        elegir la oferta más conveniente para tu bolsillo. ¡Disfruta de la
        calidad al mejor precio!
      </p>
    </div>
    <div class="px-10">
      <img class="h-72 mx-auto" src="../assets/checkout-img.jpg" />
      <h3
        class="mt-10 mb-2 text-3xl font-semibold text-[#2A9763] font-['Montserrat_Alternates']"
      >
        Paso 3:
      </h3>
      <p class="text-lg text-justify text-[#797a7c]">
        Una vez que encuentres el producto y el precio adecuado, concretar el
        trato es tan fácil como hacer clic. Conecta directamente con los
        productores y lleva la frescura del campo directamente a tu mesa.
        ¡Empieza a disfrutar de una experiencia de compra única!
      </p>
    </div>
  </div>
</section>

<hr class="my-10 mt-20" />

<section class="h-[750px] px-24">
  <h2
    class="ml-10 my-10 text-3xl text-center font-bold text-[#2A9763] font-['Montserrat_Alternates']"
  >
    Apoya a los agricultores locales y disfruta de productos frescos.
  </h2>
  <div class="flex">
    <div class="w-3/5">
      <img class="h-64 mx-auto" src="../assets/farmers-img.jpg" />
    </div>
    <div class="w-2/5">
      <h3
        class="text-3xl font-semibold text-[#2A9763] font-['Montserrat_Alternates']"
      >
        Soy un Granjero
      </h3>
      <p class="mt-5 mb-5 text-lg text-justify text-[#797a7c]">
        ¡Únete a nuestra plataforma y descubre un mundo de posibilidades para
        vender tus productos frescos del campo! Conecta directamente con
        clientes en tu comunidad y amplía tu alcance de manera fácil y efectiva.
      </p>
      <button
        routerLink="/register"
        class="px-8 py-4 bg-[#38C984] text-white rounded-xl font-semibold text-lg"
      >
        ¡Quiero ser granjero!
      </button>
    </div>
  </div>
  <!--<hr class="my-10" />-->
  <div class="flex mt-10">
    <div class="w-3/5">
      <img class="h-64 mx-auto" src="../assets/cart-img.png" />
    </div>
    <div class="w-2/5">
      <h3
        class="text-3xl font-semibold text-[#2A9763] font-['Montserrat_Alternates']"
      >
        Soy un Cliente
      </h3>
      <p class="mt-5 mb-5 text-lg text-justify text-[#797a7c]">
        Te invitamos a descubrir una amplia variedad de productos frescos y
        orgánicos directamente de agricultores locales. Nuestra plataforma te
        ofrece la oportunidad de conectar con la tierra y apoyar a los
        productores de tu comunidad.
      </p>
      <button
        routerLink="/register"
        class="px-8 py-4 bg-[#38C984] text-white rounded-xl font-semibold text-lg"
      >
        ¡Quiero ser cliente!
      </button>
    </div>
  </div>
  <hr class="my-10" />
</section>
