 
<div  *ngIf="modal"   class="absolute top-0 bottom-0 left-0 right-0 z-20 flex justify-center items-center bg-slate-400 opacity-90">
  <div class="relative p-4 w-full max-w-md max-h-full">
      <div class="relative bg-white rounded-lg shadow opacity-100">
         
          <div class="p-4 md:p-5 text-center flex justify-center items-center flex-col">
              <svg  xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
              </svg>
              <h3 class="mb-5 text-lg font-normal text-black ">Orden creada exitosoamente</h3>
              <button routerLink="/store"  type="button" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center me-2">
                  Continuar
              </button> 
          </div>
      </div>
  </div>
</div>
  
  
<section class="min-h-[90vh] px-24">
  <div
    class="relative flex gap-10 w-full py-10 px-10 mt-10 h-1/6 bg-[#F6F6F6] rounded-[60px]"
  >
    <article class="w-3/6 bg-white shadow-lg rounded p-10">
      <h2 class="text-xl font-semibold">Datos Generales</h2>
      <hr class="w-full h-1 mx-auto my-3 bg-gray-300 border-0 rounded" />

      <form [formGroup]="profileForm">
        <div class="md:flex gap-5 mb-6">
          <div class="md:w-1/2">
            <label
              class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
              for="grid-state"
              >Nombre(s):
            </label>
            <input
              formControlName="name"
              class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
            />
          </div>

          <div class="md:w-1/2">
            <label
              class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
              for="grid-zip"
            >
              Apellido:
            </label>
            <input
              formControlName="last_name"
              class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
            />
          </div>
        </div>
        <div class="md:flex gap-5 mb-6">
          <div class="md:w-1/2">
            <label
              class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
              for="grid-state"
              >E-mail:
            </label>
            <input
              formControlName="email"
              class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
            />
          </div>

          <div class="md:w-1/2">
            <label
              class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
              for="grid-zip"
            >
              Telefono:
            </label>
            <input
              formControlName="phone"
              class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
            />
          </div>
        </div>
        <div class="md:flex gap-5 mb-6">
          <div class="w-full">
            <label
              class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
              for="grid-state"
              >Calle:
            </label>
            <input
              formControlName="street"
              class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
            />
          </div>
        </div>
        <div class="md:flex gap-5 mb-6">
          <div class="md:w-1/2">
            <label
              class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
              for="grid-state"
              >Numero exterior:
            </label>
            <input
              formControlName="ext_num"
              class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
            />
          </div>

          <div class="md:w-1/2">
            <label
              class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
              for="grid-zip"
            >
              Numero interior:
            </label>
            <input
              formControlName="int_num"
              class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
            />
          </div>
        </div>
        <div class="md:flex gap-5 mb-6">
          <div class="md:w-1/2">
            <label
              class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
              for="grid-state"
              >C.P:
            </label>
            <input
              formControlName="zip_code"
              class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
            />
          </div>

          <div class="md:w-1/2">
            <label
              class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
              for="grid-zip"
              >Colonia:
            </label>
            <input
              formControlName="suburb"
              class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
            />
          </div>
        </div>
        <div class="md:flex gap-5 mb-6">
          <div class="md:w-1/2">
            <label
              class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
              for="grid-state"
              >Ciudad:
            </label>
            <input
              formControlName="city"
              class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
            />
          </div>

          <div class="md:w-1/2">
            <label
              class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
              for="grid-zip"
              >Estado:
            </label>
            <input
              formControlName="state"
              class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
            />
          </div>
        </div>
      </form>
    </article>
    <article class="bg-white shadow-lg rounded pt-10 pb-10">
      <div class="px-10">
        <h2 class="text-xl font-semibold">Datos de la Orden</h2>
        <hr class="w-full h-1 mx-auto my-3 bg-gray-300 border-0 rounded" />
      </div>

      <div class="relative flex flex-col break-words w-full">
        <table class="items-center w-full bg-transparent border-collapse">
          <thead>
            <tr>
              <th
                class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-gray-50 text-gray-500 border-blueGray-100"
              >
                <span class="sr-only">Foto</span>
              </th>
              <th
                class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-gray-50 text-gray-500 border-blueGray-100"
              >
                Producto
              </th>
              <th
                class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-gray-50 text-gray-500 border-gray-100"
              >
                Fecha de corte
              </th>
              <th
                class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-gray-50 text-gray-500 border-blueGray-100"
              >
                Precio
              </th>
              <th
                class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-gray-50 text-gray-500 border-blueGray-100"
              >
                Cantidad
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th
                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4 text-left flex items-center"
              >
                <img
                  class="w-32 h-32 object-cover rounded"
                  [src]="
                    selectedPhotoUrl
                      ? selectedPhotoUrl
                      : '../assets/vegetables.jpg'
                  "
                />
              </th>
              <td
                class="border-t-0 font-bold px-6 align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4"
              >
                {{ productData?.data?.product }}
              </td>
              <td
                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4"
              >
                {{ productData?.data?.cutoff_date }}
              </td>

              <td
                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4"
              >
                {{
                  productData?.data?.price +
                    " " +
                    productData?.data?.measure?.name
                }}
              </td>
              <td
                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4"
              >
                {{ quantity }}
              </td>
            </tr>
            <tr>
              <td
                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4"
                colspan="3"
              ></td>
              <td
                class="border-t px-6 align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4 font-bold"
              >
                Total
              </td>
              <td
                class="border-t px-6 align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4 font-bold"
              >
                ${{ total }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="flex justify-center w-full mt-28">
        <button
        (click)="createOrder()"
          type="button"
          class="w-1/3 mx-auto focus:outline-none text-white bg-green-700 hover:bg-green-800 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2"
        >
          Confirmar
        </button>
      </div>
    </article>
  </div>
</section>
<!--
<section class="min-h-[90vh] px-24">
  <div class="flex w-full mt-10 h-1/6 bg-[#F6F6F6] rounded-[60px]">
    <article class="bg-white shadow-lg rounded-3xl p-10 mt-10 mb-10 mx-24">
      <h2>DAtos de la orden</h2>

      <div>
        <img [src]="selectedPhotoUrl" />
        <div>
          <h2>{{ productData?.data?.product }}</h2>
          <h2>Cantidad: {{ quantity }}</h2>
        </div>
        <div>
          <h2>
            ${{ productData?.data?.price }}
            {{ productData?.data?.measure?.name }}
          </h2>
        </div>
      </div>
      <hr />
      <h2>Total:${{ total }}</h2>
    </article>
    <button>Confirmar Orden</button>
  </div>
</section>
 -->
