<section class="container mx-auto px-8 md:py-10 min-h-[90vh] lg:px-28">
  <div
    class="border p-5 flex flex-col gap-5 w-full md:mt-10 h-1/6 bg-gray-50 rounded-md"
  >
    <article class="border bg-white shadow-md rounded p-5 md:p-8 lg:p-10">
      <h2
        class="text-xl font-semibold pb-2 border-b border-solid border-blueGray-200"
      >
        Datos Generales
      </h2>

      <form [formGroup]="profileForm" class="mt-6">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 mb-6">
          <div>
            <label
              class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
              for="grid-state"
              >Nombre(s):
            </label>
            <input
              formControlName="name"
              class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
            />
          </div>

          <div>
            <label
              class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
              for="grid-zip"
            >
              Apellido:
            </label>
            <input
              formControlName="last_name"
              class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
            />
          </div>
          <div>
            <label
              class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
              for="grid-state"
              >E-mail:
            </label>
            <input
              formControlName="email"
              class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
            />
          </div>

          <div>
            <label
              class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
              for="grid-zip"
            >
              Telefono:
            </label>
            <input
              formControlName="phone"
              class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
            />
          </div>
          <div>
            <label
              class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
              for="grid-state"
              >Calle:
            </label>
            <input
              formControlName="street"
              class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
            />
          </div>
          <div>
            <label
              class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
              for="grid-state"
              >Numero exterior:
            </label>
            <input
              formControlName="ext_num"
              class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
            />
          </div>

          <div>
            <label
              class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
              for="grid-zip"
            >
              Numero interior:
            </label>
            <input
              formControlName="int_num"
              class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
            />
          </div>
          <div>
            <label
              class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
              for="grid-state"
              >C.P:
            </label>
            <input
              formControlName="zip_code"
              class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
            />
          </div>

          <div>
            <label
              class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
              for="grid-zip"
              >Colonia:
            </label>
            <input
              formControlName="suburb"
              class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
            />
          </div>
          <div>
            <label
              class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
              for="grid-state"
              >Ciudad:
            </label>
            <input
              formControlName="city"
              class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
            />
          </div>

          <div>
            <label
              class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
              for="grid-zip"
              >Estado:
            </label>
            <input
              formControlName="state"
              class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
            />
          </div>
        </div>
      </form>
    </article>
    <article
      class="border bg-white shadow-md rounded pt-5 md:pt-8 lg:pt-10 pb-10"
    >
      <div class="px-5 md:px-8 lg:px-10">
        <h2
          class="text-xl font-semibold pb-2 border-b border-solid border-blueGray-200"
        >
          Datos de la Orden
        </h2>
      </div>
      <div class="mt-10 overflow-x-auto px-0">
        <table class="w-full min-w-max table-auto text-left">
          <thead>
            <tr class="uppercase">
              <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
                <p
                  class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70"
                >
                  Foto
                </p>
              </th>
              <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
                <p
                  class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70"
                >
                  Producto
                </p>
              </th>
              <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
                <p
                  class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70"
                >
                  Fecha de corte
                </p>
              </th>
              <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
                <p
                  class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70"
                >
                  Precio
                </p>
              </th>
              <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
                <p
                  class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70"
                >
                  Cantidad
                </p>
              </th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td
                class="border-t-0 font-bold align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4"
              >
                <img
                  class="w-32 h-32 object-cover rounded"
                  [src]="
                    selectedPhotoUrl
                      ? selectedPhotoUrl
                      : '../assets/vegetables.jpg'
                  "
                />
              </td>
              <td
                class="border-t-0 align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4"
              >
                {{ productData?.data?.product }}
              </td>
              <td
                class="border-t-0 align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4"
              >
                {{ productData?.data?.cutoff_date }}
              </td>
              <td
                class="border-t-0 align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4"
              >
                {{
                  productData?.data?.price +
                    " " +
                    productData?.data?.measure?.name
                }}
              </td>
              <td
                class="border-t-0 align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4"
              >
                {{ quantity }}
              </td>
            </tr>
            <tr>
              <td
                class="border-t-0 align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4"
                colspan="3"
              ></td>
              <td
                class="border-t align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4 font-bold"
              >
                Total
              </td>
              <td
                class="border-t align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4 font-bold"
              >
                ${{ total }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="flex justify-center w-full mt-28 px-5">
        <button
          type="button"
          class="w-1/2 lg:w-1/3 mx-auto focus:outline-none text-white bg-green-700 hover:bg-green-800 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2"
        >
          Confirmar
        </button>
      </div>
    </article>
  </div>
</section>
<!--
<section class="min-h-[90vh] px-24">
  <div class="flex w-full mt-10 h-1/6 bg-[#F6F6F6] rounded-[60px]">
    <article class="bg-white shadow-lg rounded-3xl p-10 mt-10 mb-10 mx-24">
      <h2>DAtos de la orden</h2>

      <div>
        <img [src]="selectedPhotoUrl" />
        <div>
          <h2>{{ productData?.data?.product }}</h2>
          <h2>Cantidad: {{ quantity }}</h2>
        </div>
        <div>
          <h2>
            ${{ productData?.data?.price }}
            {{ productData?.data?.measure?.name }}
          </h2>
        </div>
      </div>
      <hr />
      <h2>Total:${{ total }}</h2>
    </article>
    <button>Confirmar Orden</button>
  </div>
</section>
 -->
