<section class="p-10 w-full h-full bg-[#f6f6f6]">
  <div class="p-10 bg-white shadow-lg rounded-3xl w-full h-full">
    <h2>Detalles Producto</h2>

    <label>Nombre (Esto es una lista desplegable)</label>
    <input type="text" class="border" />
    <label>Categoria</label>
    <input type="text" class="border" />
    <label>Fecha de cosecha (Calendar)</label>
    <input type="text" class="border" />
    <label>Descripcion</label>
    <input type="text" class="border" />
    <label>Precio</label>
    <input type="text" class="border" />

    <label>Minimo de Venta</label>
    <input type="text" class="border" />
    <label>Unidad de Medida</label>
    <input type="text" class="border" />
    <label>Stock Disponible</label>
    <input type="text" class="border" />

    <label
      >Agrgar fotos del producto (Esto se colocara del lado izquierd) la mitad
      de la pantalla</label
    >
    <button>Guardar</button>
    <button>Eliminar</button>
  </div>
</section>
