<section class="p-10 w-full h-full bg-[#f6f6f6]">
  <div class="px-10 py-5 bg-white shadow-lg rounded-3xl w-full h-full">
    <form [formGroup]="profileForm" class="grid grid-cols-2 gap-x-10">
      <div class="flex border-b border-[#2A9763] my-5">
        <h3
          class="text-lg font-bold text-[#2A9763] font-['Montserrat_Alternates']"
        >
          Datos Generales
        </h3>
      </div>
      <div class="flex border-b border-[#2A9763] my-5">
        <h3
          class="text-lg font-bold text-[#2A9763] font-['Montserrat_Alternates']"
        >
          Foto
        </h3>
      </div>
      <article class="p-5 rounded-3xl shadow bg-[#f6f6f6]">
        <div class="flex gap-10 w-full">
          <span class="w-2/4 flex flex-col">
            <label class="">Nombre(s):</label>

            <input
              type="email"
              class="h-9 border border-gray-400 rounded-2xl"
            />
          </span>
          <span class="w-2/4 flex flex-col">
            <label>Apellido:</label>
            <input type="text" class="h-9 border border-gray-400 rounded-2xl" />
          </span>
        </div>
        <div class="flex gap-10 w-full mt-5">
          <span class="w-2/4 flex flex-col">
            <label>E-mail:</label>
            <input type="text" class="h-9 border border-gray-400 rounded-2xl" />
          </span>
          <span class="w-2/4 flex flex-col">
            <label>Telefono:</label>
            <input type="text" class="h-9 border border-gray-400 rounded-2xl" />
          </span>
        </div>
      </article>
      <article
        class="p-5 flex justify-center items-center rounded-3xl shadow bg-[#f6f6f6]"
      >
        <div class="mx-auto border w-[200px] h-[200px]">
          <img [src]="imageUrl" alt="Imagen cargada" />
        </div>
        <input
          class="mx-auto"
          type="file"
          (change)="onFileSelected($event)"
          accept="image/*"
        />
      </article>

      <div class="flex border-b border-[#2A9763] my-5">
        <h3
          class="text-lg font-bold text-[#2A9763] font-['Montserrat_Alternates']"
        >
          Direccion:
        </h3>
      </div>
      <div class="flex border-b border-[#2A9763] my-5">
        <h3
          class="text-lg font-bold text-[#2A9763] font-['Montserrat_Alternates']"
        >
          Direccion de la Granja:
        </h3>
      </div>
      <article class="p-5 rounded-3xl shadow bg-[#f6f6f6]">
        <div class="flex flex-col">
          <label>Calle:</label>
          <input type="text" class="h-9 border border-gray-400 rounded-2xl" />
        </div>
        <div class="flex gap-10 w-full mt-5">
          <span class="w-2/4 flex flex-col">
            <label>Numero exterior:</label>
            <input type="text" class="h-9 border border-gray-400 rounded-2xl" />
          </span>
          <span class="w-2/4 flex flex-col">
            <label>Numero interior:</label>
            <input type="text" class="h-9 border border-gray-400 rounded-2xl" />
          </span>
        </div>

        <div class="flex gap-10 w-full mt-5">
          <span class="w-2/4 flex flex-col">
            <label>C.P:</label>
            <input
              #cpInput
              (blur)="fetchCPInfo(cpInput.value)"
              type="text"
              class="h-9 border border-gray-400 rounded-2xl"
            />
          </span>
          <span class="w-2/4 flex flex-col">
            <label>Colonia:</label>
            <select
              class="h-9 border border-gray-400 rounded-2xl"
              formControlName="colonia"
            >
              <option
                *ngFor="let colonia of cpData?.response?.asentamiento"
                [ngValue]="colonia"
              >
                {{ colonia }}
              </option>
            </select>
          </span>
        </div>
        <div class="flex gap-10 w-full mt-5">
          <span class="w-2/4 flex flex-col">
            <label>Ciudad:</label>
            <input
              [formControlName]="'ciudad'"
              type="text"
              class="h-9 border border-gray-400 rounded-2xl"
            />
          </span>
          <span class="w-2/4 flex flex-col">
            <label>Estado:</label>
            <input
              [formControlName]="'estado'"
              type="text"
              class="h-9 border border-gray-400 rounded-2xl"
            />
          </span>
        </div>
      </article>
      <article class="p-5 rounded-3xl shadow bg-[#f6f6f6]">
        <p>Deseas Agregar una granja?</p>
        <button routerLink="/dashboard/profile/farm">Agregar granja</button>
      </article>
    </form>
  </div>
</section>
