<div class="flex flex-wrap h-screen">
  <div
    class="relative w-full flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg pt-5"
  >
    <form
      [formGroup]="profileForm"
      (ngSubmit)="updateInfoUser()"
      class="grid grid-cols-2 gap-x-10"
    >
      <div class="flex border-b border-[#2A9763] my-5">
        <h3
          class="text-lg font-bold text-[#2A9763] font-['Montserrat_Alternates']"
        >
          Datos Generales
        </h3>
      </div>
      <div class="flex border-b border-[#2A9763] my-5">
        <h3
          class="text-lg font-bold text-[#2A9763] font-['Montserrat_Alternates']"
        >
          Foto
        </h3>
      </div>
      <article class="p-5 rounded-3xl shadow bg-[#f6f6f6]">
        <div class="flex gap-10 w-full">
          <span class="w-2/4 flex flex-col">
            <label class="">Nombre(s):</label>

            <input
              formControlName="name"
              type="email"
              class="px-4 h-9 border border-gray-400 rounded-2xl"
            />
          </span>
          <span class="w-2/4 flex flex-col">
            <label>Apellido:</label>
            <input
              formControlName="last_name"
              type="text"
              class="px-4 h-9 border border-gray-400 rounded-2xl"
            />
          </span>
        </div>
        <div class="flex gap-10 w-full mt-5">
          <span class="w-2/4 flex flex-col">
            <label>E-mail:</label>
            <input
              formControlName="email"
              type="text"
              class="px-4 h-9 border border-gray-400 rounded-2xl"
            />
          </span>
          <span class="w-2/4 flex flex-col">
            <label>Telefono:</label>
            <input
              formControlName="phone"
              type="text"
              class="px-4 h-9 border border-gray-400 rounded-2xl"
            />
          </span>
        </div>
      </article>
      <article
        class="p-5 flex justify-center items-center rounded-3xl shadow bg-[#f6f6f6]"
      >
        <div
          *ngIf="selectedImage.file != null || selectedImage.previewUrl != null"
        >
          <h4>Imágenes seleccionadas:</h4>
          <div class="relative mx-auto border w-[200px] h-[200px]">
            <img
              class="absolute"
              *ngIf="selectedImage.previewUrl"
              [src]="selectedImage.previewUrl"
              alt="Vista previa"
            />
            <button
              class="absolute inset-y-0 inset-x-0"
              (click)="removeImage()"
            >
              Eliminar
            </button>
          </div>
        </div>
        <input
          class="px-4 mx-auto"
          type="file"
          (change)="onFileSelected($event)"
          accept="image/*"
        />
      </article>

      <div class="flex border-b border-[#2A9763] my-5">
        <h3
          class="text-lg font-bold text-[#2A9763] font-['Montserrat_Alternates']"
        >
          Direccion:
        </h3>
      </div>
      <div class="flex border-b border-[#2A9763] my-5">
        <h3
          class="text-lg font-bold text-[#2A9763] font-['Montserrat_Alternates']"
        >
          Direccion de la Granja:
        </h3>
      </div>
      <article class="p-5 rounded-3xl shadow bg-[#f6f6f6]">
        <div class="flex flex-col">
          <label>Calle:</label>
          <input
            formControlName="street"
            type="text"
            class="px-4 h-9 border border-gray-400 rounded-2xl"
          />
        </div>
        <div class="flex gap-10 w-full mt-5">
          <span class="w-2/4 flex flex-col">
            <label>Numero exterior:</label>
            <input
              formControlName="ext_num"
              type="text"
              class="px-4 h-9 border border-gray-400 rounded-2xl"
            />
          </span>
          <span class="w-2/4 flex flex-col">
            <label>Numero interior:</label>
            <input
              formControlName="int_num"
              type="text"
              class="px-4 h-9 border border-gray-400 rounded-2xl"
            />
          </span>
        </div>

        <div class="flex gap-10 w-full mt-5">
          <span class="w-2/4 flex flex-col">
            <label>C.P:</label>
            <input
              formControlName="zip_code"
              #cpInput
              type="text"
              class="px-4 h-9 border border-gray-400 rounded-2xl"
            />
          </span>
          <span class="w-2/4 flex flex-col">
            <label>Colonia:</label>
            <input
              formControlName="suburb"
              type="text"
              class="px-4 h-9 border border-gray-400 rounded-2xl"
            />
          </span>
        </div>
        <div class="flex gap-10 w-full mt-5">
          <span class="w-2/4 flex flex-col">
            <label>Ciudad:</label>
            <input
              formControlName="city"
              type="text"
              class="px-4 h-9 border border-gray-400 rounded-2xl"
            />
          </span>
          <span class="w-2/4 flex flex-col">
            <label>Estado:</label>
            <input
              formControlName="state"
              type="text"
              class="px-4 h-9 border border-gray-400 rounded-2xl"
            />
          </span>
        </div>
      </article>
      <article class="p-5 rounded-3xl shadow bg-[#f6f6f6]">
        <p>Deseas Agregar una granja?</p>
        <div>
          <button
            class="bg-slate-400"
            (click)="redirectToFarmProfile(farmData?.data?.id!)"
          >
            <img [src]="farmData?.data?.photo" class="w-20" />
            <div>
              <h4>{{ farmData?.data?.name }}</h4>
            </div>
          </button>
        </div>
        <button class="bg-gray-500 mr-8" routerLink="/farmer/profile/farm">
          Agregar granja
        </button>
        <button class="bg-gray-500">Gurdar Info form</button>
      </article>
    </form>
  </div>
</div>
