<section class="min-h-[90vh] px-24">
  <!--
  <div class="relative h-40">
    <img
      class="w-full h-full object-cover"
      src="../assets/vegetables.jpg"
      alt="Descripción de la imagen"
    />
    <span
      class="absolute top-0 left-0 right-0 bottom-0 flex justify-center items-center bg-[#EA892C95] text-center text-white font-semibold text-5xl"
    >
      <h2>Los produtos mas frescos del mercado</h2>
    </span>
  </div> -->

  <div class="pt-10 pb-10 w-full mt-10 h-1/6 bg-[#F6F6F6] rounded-[60px]">
    <h2
      class="text-[#2A9763] font-['Montserrat_Alternates'] text-4xl font-bold text-center"
    >
      Los produtos mas frescos del mercado
    </h2>

    <p class="mt-10 text-[#797a7c] text-center text-2xl">
      Del campo a tu alcance: Sabores frescos y auténticos. ¡Descubre lo mejor
      del mercado!
    </p>

    <div class="px-10 mt-10 flex gap-5">
      <button
        class="bg-white shadow-lg py-3 px-6 rounded-3xl text-[#2A9763] font-medium"
      >
        Popular food
      </button>
      <button
        class="py-3 px-6 rounded-3xl border-2 border-[#38C984] text-[#797a7c] font-medium"
      >
        Frutas
      </button>
      <button
        class="border-2 border-[#38C984] text-[#797a7c] py-3 px-6 rounded-3xl font-medium"
      >
        Verduras
      </button>
      <button
        class="border-2 border-[#38C984] text-[#797a7c] py-3 px-6 rounded-3xl font-medium"
      >
        Legumbres
      </button>
      <button
        class="border-2 border-[#38C984] text-[#797a7c] py-3 px-6 rounded-3xl font-medium"
      >
        Granos
      </button>
    </div>

    <div class="px-10 mt-10 grid grid-cols-6 gap-10">
      <article class="h-72 p-5 bg-white rounded-3xl shadow-lg">
        <img
          class="h-2/3 w-full rounded-3xl border"
          src="../assets/vegetables.jpg"
        />

        <h3 class="mt-4 font-medium">Manza Verde</h3>
        <p
          class="mt-4 font-bold text-xl text-[#2A9763] font-['Montserrat_Alternates']"
        >
          $ 14.99
        </p>
      </article>
    </div>
  </div>
  <!--
  <div class="px-24 mt-10 grid grid-cols-6 gap-5">
    <article class="h-72 bg-red-50 rounded-md">
      <img class="h-2/3 w-full rounded-t-md" src="../assets/vegetables.jpg" />

      <h3 class="mx-5 mt-4">Manza Verde</h3>
      <p class="mx-5 font-semibold">$ 14.99</p>
    </article>
    <article class="h-72 bg-red-50 rounded-md">
      <img class="h-2/3 w-full rounded-t-md" src="../assets/vegetables.jpg" />

      <h3 class="mx-5 mt-4">Manza Verde</h3>
      <p class="mx-5 font-semibold">$ 14.99</p>
    </article>
    <article class="h-72 bg-red-50 rounded-md">
      <img class="h-2/3 w-full rounded-t-md" src="../assets/vegetables.jpg" />

      <h3 class="mx-5 mt-4">Manza Verde</h3>
      <p class="mx-5 font-semibold">$ 14.99</p>
    </article>
    <article class="h-72 bg-red-50 rounded-md">
      <img class="h-2/3 w-full rounded-t-md" src="../assets/vegetables.jpg" />

      <h3 class="mx-5 mt-4">Manza Verde</h3>
      <p class="mx-5 font-semibold">$ 14.99</p>
    </article>
    <article class="h-72 bg-red-50 rounded-md">
      <img class="h-2/3 w-full rounded-t-md" src="../assets/vegetables.jpg" />

      <h3 class="mx-5 mt-4">Manza Verde</h3>
      <p class="mx-5 font-semibold">$ 14.99</p>
    </article>
    <article class="h-72 bg-red-50 rounded-md">
      <img class="h-2/3 w-full rounded-t-md" src="../assets/vegetables.jpg" />

      <h3 class="mx-5 mt-4">Manza Verde</h3>
      <p class="mx-5 font-semibold">$ 14.99</p>
    </article>
    <article class="h-72 bg-red-50 rounded-md">
      <img class="h-2/3 w-full rounded-t-md" src="../assets/vegetables.jpg" />

      <h3 class="mx-5 mt-4">Manza Verde</h3>
      <p class="mx-5 font-semibold">$ 14.99</p>
    </article>
  </div> -->
  <button (click)="navigateToAbout()">prueba</button>
</section>
